{
    "token": "[Put the bot's token here]",
    "prefix": "[Put the default prefix here]",
    "panelapikey": "[Put the API key of the Pterodactyl panel here]",
    "yes": "[Put the emoji ID for yes here]",
    "no": "[Put the emoji ID for no here]"
}
