{
    "token": "BOT_TOKEN",
    "panelapikey": "PTERODACTYL_PANEL_TOKEN",
    "yes": "EMOJI_ID_YES",
    "no": "EMOJI_ID_NO",
    "clientemail": "MINECRAFT_EMAIL",
    "clientpassword": "MINECRAFT_PASSWORD",
    "prefix": "-"
}